.main_frame {
  position: relative;
  margin: 8px;
}

.frame {
  background-color: #fcae9f;
  font-family: "Bangers", system-ui;
  font-size: 18px;
  display: grid;
  place-content: center;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transform: translate(6px, -6px);
  transition: all 0.05s ease;
  border: 2px solid rgb(59, 50, 50);
}

.frame:hover {
  transform: translate(4px, -4px);
}

.frame > div {
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
}

.main_frame .background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(59, 50, 50);
}
