.frame {
  display: flex;
  /* background-color: blue; */
  align-items: center;
  gap: 20px;
  min-width: 25%;
  font-family: "Bangers", system-ui;
  font-size: 24px;
}

.player_img {
  background-color: rgba(128, 128, 128, 0.368);
  height: 250px;
  width: 200px;
  /* overflow: hidden; */
  position: relative;
}

.player_img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player_details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
